numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
joblib==1.5.3


# API
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
httpx

# Dashboard
streamlit
plotly

# Text preprocessing
beautifulsoup4
emoji

# Dataset archive formats
zstandard


